<div class="card">
    <div class="card-body">
        <div class="card-block">
            <form [formGroup]="storeForm" (ngSubmit)="onStoreFormSubmit()">
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputStoreName">Naam</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputStoreName"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputAddressstreet">Straat</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputAddressstreet"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputAddresshouseNumber">Huisnummer</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputAddresshouseNumber"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputAddresspostalcode">Postcode</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputAddresspostalcode"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputAddresscity">Stad</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputAddresscity"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputOpeningHours">Openingsuren</label>
                        <div>
                            <input class="form-control" type="text" formControlName="inputOpeningHours"/>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="from-group justify-content">
                        <label for="inputStoreType">Type winkel</label>
                        <div>
                            <input class="form-control" type="checkbox" formControlName="inputStoreType"/>
                        </div>
                    </div>
                </div>              -->
            </form>
        </div>
    </div>
</div>