<mat-card>
    <mat-card-content class="topnav">
        <div class="leftmenu">
            <button mat-button [matMenuTriggerFor]="menu1">Producten</button>
            <mat-menu #menu1="matMenu" class="leftmenu-sub">
                <button mat-menu-item class="leftmenu-item"><a class='nav-link' routerLink='/product'>Products</a></button>
                <button mat-menu-item class="leftmenu-item"><a class='nav-link' routerLink='/stores'>Stores</a></button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu2">Boodschappen</button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu3">Voorraad</button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>


            <button mat-button [matMenuTriggerFor]="menu4">Menu</button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu5">Dagboek</button>
            <mat-menu #menu5="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
        <div class="rightmenu">
            <button mat-icon-button color="accent" aria-label="shopping cart">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button aria-label="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="favorite">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled aria-label="account">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<router-outlet>

</router-outlet>

<!-- footer -->
