<mat-drawer-container class="drawer-container" style="display: inline;">
  <mat-drawer mode="side" opened class="side-container">
    <p>
      <mat-form-field class="sidefilter-full-width">
        <mat-label>Filter op naam</mat-label>
        <input matInput type="text" [(ngModel)]="listFilter">
        <button *ngIf="listFilter" matSuffix mat-icon-button aria-label="Clear" (click)="listFilter=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="sidefilter-full-width">
        <mat-label>Select winkels</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let store of stores" [value]="valueOptions">{{store.storeName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </mat-drawer>

  <mat-drawer-content class="main-container">
    <table mat-table [dataSource]="filteredStores">
      <ng-container matColumnDef="storeName">
        <th mat-header-cell *matHeaderCellDef> Winkel </th>
        <td mat-cell *matCellDef="let store"> {{store.storeName}}</td>
      </ng-container>
      <ng-container matColumnDef="storeDetail">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let store"><button><a (click)="toDetail(store)"><mat-icon>info</mat-icon></a></button></td>
      </ng-container>
      <ng-container matColumnDef="addShopping">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let store"><button><a routerLink="/stores/getStoreById"><mat-icon>add_shopping_cart</mat-icon></a></button></td>
      </ng-container>
      <ng-container matColumnDef="addPantry">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let store"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>