<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">X</button>
</div>
<div class="modal-body">
    <div>
        <app-store-edit 
        [storeToShow]='storeToShow'
        [readOnlyMode]='readOnlyMode'>
        </app-store-edit>
    </div> 
</div>
<div class="modal-footer">
    <div *ngIf="this.readOnlyMode === 'NotActive'">
        <button type="submit" class="btn btn-success btn-raised">Submit</button>
        <button type="button" (click)="closeModal()" class="btn btn-danger btn-raised">Cancel</button>
    </div>
    <div *ngIf="this.readOnlyMode === 'Active'">
        <button enabled type="button" (click)="toEdit(this.storeToShow, this.readOnlyMode)" class="btn btn-warning btn-raised">Edit</button>
    </div>
</div>